/*starting of r-nav*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 90px;


}

.navbar .logo {
    margin-left: 15px;


}

.logo img {
    border-radius: 3px;

}




.nav-link ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 40px;

}

.nav-link li {
    list-style: none;

}

.nav-link li a {
    text-decoration: none;
    padding: 1.5rem;
    display: block;
    color: #fff;
    font-size: 17px;
}

.nav-link li a:hover {
    background-color: #00c2ff;
    cursor: pointer;
    color: #fff;

}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
body h1{
    font-family: sans-serif;
}
body h1 .hd1 {
    color: #00c2ff;;
}

body h1 .hd2 {
    color: #fff;
}

@media (max-width: 500px) {
    .toggle-button {
        display: flex;

    }

    .nav-link {
        display: none;
        width: 100%;
        background-color: darkslategray;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-link li {
        text-align: center;
        padding: .5rem 1rem;

    }

    .nav-link.active {
        display: flex;
    }
}




#container {
    background-image: url('../Images/ado.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1600px;
    background-position: center center;
    overflow: hidden;
    padding-top: 3em;

}

.cont-ovaley {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 1600px;
}

.cont-ovaley h1 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 4rem;
    padding-top: 2em;
    color: white;
}


/*
h1 .sp1{color: coral;}

h1 .sp2{color: #c5aa6a;}
*/

.form {
    width: fit-content;
    border: black 1px solid;
    margin-left: 7em;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 3em;
}


.form .form-wrap {
    padding: 20px;
    margin-right: 30px;


}

.form-wrap input[type=text] {
    outline: 0;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: transparent;
    color: #fff;
}


.form-wrap input[type=email] {
    outline: 0;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #fff;
    background: transparent;
}

.form-wrap input[type=password] {
    outline: 0;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    background: transparent;
    color: #fff;
}

.form-wrap input[type=placeholder] {
    color: #fff;
}

.form-wrap h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 1em;
    margin-top: 8px;
    letter-spacing: 1px;

}

.form-wrap h3 {
    font-size: 20px;
    color: #fff;
}

.form-wrap select {
    margin-top: 15px;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: #00c2ff;
    color: #fff;
}
.form-wrap select:hover{
 background-color: coral;
 color: #fff;
}
.form-wrap input[type=submit] {
    width: fit-content;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #00c2ff;;
    color: #fff;
}

.form-wrap input[type=submit]:hover{
    background-color: coral;
    color: #fff;
}


.media {
    background-color: rgba(0, 0, 0, 0.5);
    width: 23em;
    margin-left: 7em;
    border: black 1px solid;

}

.media h3 {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    color: #fff;

}

.media i {
    background-color: #2d353c;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 80px;
    color: aliceblue;
    margin-left: 58px;

}

.cov2 {
    background-image: url('../Images/sbg.jpg');
    height: 800px;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 13em;
}

.cov2 .text1 {
    background-image: url('../Images/i.jpg');
    width: 40%;
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    border-radius: 5px;
    transition: all 1s;
    height: 400px;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}


.cov2 .text1:hover {
    transform: scale(1.1);
}

.cov2 .text2 {
    background-image: url('../Images/logo2.png');
    width: 40%;
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: all 1s;
    width: 500px;
    height: 400px;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);


}

.cov2 .text2:hover {
    transform: scale(1.1);
}

section .sect-01 {
    margin: 10em;
}

section .sect-01 p {
    letter-spacing: 2px;
    font-size: 4rem;
    color: #373D3F;
    font-weight: 900;
    font-family: sans-serif;

}

section .sect-01 .p2 {
    font-size: 25px;
    font-family: sans-serif;
    font-style: italic;
    margin-left: 7em;
}

section .sect-01 .p2 .spana {
    color:#00c2ff;
    padding-bottom: 10px;
}

section .span-01 {
    color: #00c2ff;
    padding-left: 10px;
    padding-bottom: 10px;

}


.sect-01 .p2 .spana{
   padding-left: 10px;
   padding-bottom: 10px;

}

.sect-01 .p2 .spanb{
    padding-right: 10px;
    padding-bottom: 10px;
    color: #fff;
}


section .span-02 {
    color: #fff;
    padding-right: 10px;
    padding-bottom: 10px;
}


.sect-01 p span{
    background-color: #2d353c;
    font-size: 35px;
    font-size: 30px;
}




#footer {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 620px;
    

}

#footer .wrapper2 {
    padding: 90px;
}

.wrapper2 .container_02 {
    display: flex;
}

.container_02 .icon {
    display: flex;
    padding: 0;
    margin: 0;
}

.container_02 .icon i {

    padding: 5px;

}

.icon .fa-facebook {
    color: #4267B2;
    font-size: 30px;
    width: 80px;
    width: fit-content;
    background-color: #fff;
}

.icon .fa-instagram {
    color: #E1306C;
    font-size: 30px;
    width: 80px;
    width: fit-content;
    background-color: #fff;
    margin-left: 20px;
}

.icon .fa-twitter {
    color: #1DA1F2;
    font-size: 30px;
    width: 80px;
    background-color: #fff;
    width: fit-content;
    margin-left: 20px;

}

.container_02 p {
    font-size: 16px;
    line-height: 28px;
    font-family: sans-serif;


}

.container_02 .div2 p {
    color: white;
}

.container_02 .h2 {
    margin-bottom: 1em;
    letter-spacing: 3px;

    font-size: 20px;
    color: darkgray;

}

.container_02 h2 {
    color: white;
}

.container_02 .div1 h2 .sp1 {
    color: #fff;
    font-family: sans-serif;
}

.container_02 .div1 h2 .sp2 {
    color: #00c2ff;
    font-family: sans-serif;
}

.container_02 .div1 img {
    width: 85px;
    height: 70px;
}


.container_02 .div1 {
    margin-right: 25em;
}

.container_02 .div1 .media2 {
    color: darkgray;
    margin-top: 5em;
    margin-bottom: 1.9em;
    font-size: 21px;
    letter-spacing: 1px;
}

.container_02 .div2 {
    margin-right: 10em;
}


.container_02 .div3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container_02 .div3 ul a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    line-height: 30px;
    font-family: sans-serif;
}


.container_02 .div3 ul a:hover {
    color: #1DA1F2;
    font-size: 28px;
}

.container_02 .div3 .cont {
    margin-top: 50px;
    color: darkgrey;
}

.container_02 .div3 p {
    color: #fff;
}

hr {
    margin-top: 1.9em;
}