.heading-text {
    text-align: center;
    font-size: 10px;
    padding: 10px;
    color: black;
}

nav {
    padding: 5px;
    flex-direction: column;
    align-items: center;
    height: 80px;
    background-color: dimgray;
}

ul {
    display: flex;
    list-style: none;
    margin-right: 25em;
    margin-left: 5em;



}

ul li:first-child {
    margin-right: 15em;
    margin-bottom: 20px;
}


ul li {
    margin-left: 30px;
}